* {
    margin: 0;
    padding: 0;
}

#home {
    margin-left: 1.5%;
    font-size:calc(10px + 1.8vw);
}

#rest {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5%;
    font-size:calc(10px + 1.4vw);
    height: 20px;
}

#rest-text {
    color: #e5c554;
}

#rest-text:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #e8a220;
}

#rest-li {
    display: flex;
    padding: 20px;
}

img {
    display: flex;
    justify-content: flex-end;
}

#home:hover {
    color: #0d6efd;
}

.content {
    margin-top: 8%;
    display: flex;
}

#main_h1 {
    margin-left: 30%;
    font-size: calc(12px + 3.3vw);
    color: #e8a220;
}

img {
    margin-left: 80%;
    border-radius: 40%;
    width:  80vm;
    height: 40vm;
}


