@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
    margin: 0;
    padding: 0; 
    background-color: #FFFFFF;
}

nav {
    height: 10%;
}

#home {
    margin-left: 1.5%;
    font-size:calc(10px + 1.4vw);
    color: #429EBD;
}

#rest {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5%;
    font-size:calc(10px + 1vw);
}

#rest-text {
    color: #F27F0C;
}

#rest-li {
    display: flex;
    padding: 20px;
}


#home:hover {
    color: #429EBD;
}

.content {
    margin-top: 8%;
    display: flex;
}

#main_h1 {
    margin-left: 30%;
    font-size: calc(12px + 4.5vw);
    color: #F7AD19;
    font-family: 'Source Sans Pro', sans-serif;
}

#imgElement2 {
    margin-left: 10%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port_img {
    border-radius: 40%;
    transform: scale(1);
    transition: transform 0.35s;
}

.port_img:hover {
    transform: scale(1.1);
}

hr {
    height: 1px;
    width: 100vw;
    margin-top: 6%;
}

#main_paragraph {
    margin-left: 30%;
    font-size: calc(6px + 1.5vw);
    font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    background-color: #252525;
    width: 100%;
}

.footer-content {
    padding: 15px;
    background-color: #252525;
    margin-left: 30%;
}

#icon {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    margin-left: 30px;
    transform: scale(1);
    transition: transform 0.35s;
}

#icon:hover {
    transform: scale(1.2);
}

.opis {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    display: flex;
}

.zainteresowania {
    display: flex;
    font-size: 30px;
    font-family: 'Calligraffitti', cursive;
}

.cont_img {
    margin-right: 6%;
    display: flex;
    width: 30%;
    height: 80%;
}

.footer-text {
    color: white;   
    background-color: #252525;
}

.footer-link {
    background-color: #252525;
}

form {
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 10%;
    background-color: #e6ede8;
}

input {
    margin-top: 2%;
    border:none;
    margin-bottom: 2%;
    background-color: #e6ede8;
}


input[type=submit] {
    margin-top: 8%;
    border: none;
    width: 40%;
    height: 2vw;
    border-radius: 2%;
    background-color: #ff7700;
    color: white;
}

label {
    background-color: #e6ede8   ;
}