@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
    margin: 0;
    padding: 0; 
    background-color: #FFFFFF;
}

#home {
    margin-left: 1.5%;
    font-size:calc(10px + 1.8vw);
    color: #429EBD;
}

#rest {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5%;
    font-size:calc(10px + 1.4vw);
}

#rest-text {
    color: #F27F0C;
}

#rest-li {
    display: flex;
    padding: 20px;
}

img {
    display: flex;
    justify-content: flex-end;
}

#home:hover {
    color: #429EBD;
}

.content {
    margin-top: 8%;
    display: flex;
}

#main_h1 {
    margin-left: 30%;
    font-size: calc(12px + 4.5vw);
    color: #F7AD19;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    margin-left: 80%;
    border-radius: 40%;
    width:  100vm;
    height: 60vm;
}

hr {
    height: 1px;
    width: 100vw;
    margin-top: 6%;
}

#main_paragraph {
    margin-left: 30%;
    font-size: calc(6px + 1.5vw);
    font-family: 'Source Sans Pro', sans-serif;
}
